@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedheavy.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedheavyitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedheavyoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedextrabold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedextrabolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedextraboldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedbold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedbolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedboldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedsemibold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedsemibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedsemiboldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedmedium.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedmediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedmediumoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extended.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendeditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedlight.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedlightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedlightoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedextralight.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedextralightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedextralightoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Extended";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedthin.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedthinitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Extended";
  font-style: pblique;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extendedthinoblique.ttf") format("truetype");
}
