@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-heavyitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-heavyoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-extrabolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-extraboldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-boldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-semiboldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-mediumoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-oblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-light.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-lightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-lightoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-extralight.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-extralightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-extralightoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Aile";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-thin.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-thinitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka Aile";
  font-style: pblique;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka-aile/iosevka-aile-thinoblique.ttf") format("truetype");
}
