@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-heavyitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-heavyoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extrabolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extraboldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-boldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-semiboldoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-mediumoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-blique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-light.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-lightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-lightoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extralight.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extralightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-extralightoblique.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-thin.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-thinitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Iosevka";
  font-style: pblique;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/iosevka/iosevka-thinoblique.ttf") format("truetype");
}
