/*
/public/webfonts/KurintoSans-Bd.ttf
/public/webfonts/KurintoSans-BdIt.ttf
/public/webfonts/KurintoSans-It.ttf
/public/webfonts/KurintoSans-Rg.ttf
*/

@font-face {
    font-family: "Kurinto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/kurinto/KurintoSans-Rg.ttf") format('truetype');
}

@font-face {
    font-family: "Kurinto Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/kurinto/KurintoSans-It.ttf") format('truetype');
}

@font-face {
    font-family: "Kurinto Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/kurinto/KurintoSans-Bd.ttf") format('truetype');
}

@font-face {
    font-family: "Kurinto Sans";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/kurinto/KurintoSans-BdIt.ttf") format('truetype');
}
