/*******************************************************************************

Copyright (c) 2015 Massimo Maria Ghisalberti <massimo.ghisalberti@gmail.com>  

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

*******************************************************************************/
$toc_bottom_padding: 40%;

$height_title: 1.4em; //4%;
$height_title_perc: 4%;
$height_postamble: 2%;
$height_toc_title: 4%;
$height_patch: 10%;
$height_toc: 100% - $height_title_perc - $height_postamble;
$height_toc_internal: $height_toc - $height_postamble - $height_toc_title - $height_patch; //4.5%;

$color_sidebar_foreground: #ffffff;
$color_sidebar_background: #505050;
 
$sidebar_width: 32%;
$sidebar_padding: 4.5%;
$sidebar_translation: $sidebar_width * 2.5;
$transition: transform 0.3s ease-in-out 0s;

#content {
    border: none !important;
    background: $color_body_background !important;

    .title {
	position: fixed;
	display:block;
	top: 0em;
	left: 0em;
	padding-top: 1.5em;
	width: 100%;
	height: $height_title;
	z-index: 100;
	white-space: nowrap;
    }

    p {
	text-align: justify;
    }
    
    & > div, & > section {
	width: 100% - $sidebar_width;
	margin-left: $sidebar_width + 3;
	h2:before {
	    content: '';
	    display:block;
	    height: 4em; // 3.5em;
	    margin: -3.5em 0 0;
	}
	h3:before {
	    content: '';
	    display:block;
	    height: 4em;
	    margin:-4em 0 0;
	}
	h4:before {
	    content: '';
	    display:block;
	    height: 4.7em;
	    margin:-4.7em 0 0;
	}
	h5:before {
	    content: '';
	    display:block;
	    height: 5.6em;
	    margin:-5.6em 0 0;
	}
	h6:before {
	    content: '';
	    display:block;
	    height: 7em;
	    margin:-7em 0 0;
	}
    }

    & > div[id*=outline-container-sec]:last-child,
    & > section[id*=outline-container-sec]:last-child,
    & > div[id*=outline-container-orgheadline]:last-child,
    & > section[id*=outline-container-orgheadline]:last-child {
	clear: both;
	margin-bottom: 5.2em;
	padding-bottom: 1em;
    }
}

nav#table-of-contents {
    position: fixed;
    width: $sidebar_width;
    left: 0rem;
    top: $height_title + 2.8;
    bottom: $height_postamble - 1;
    padding-left: 2%;
    color: $color_sidebar_foreground !important;
    background: $color_sidebar_background !important;
    backface-visibility: hidden;
    overflow-y: auto;

    * {
	color: $color_sidebar_foreground !important;
	background: $color_sidebar_background !important;
    }
    
    h2 {
	width: 32.4%;
	height: 1.6em;
	z-index: 10;
	top: 3.6rem;
	left: 0rem;
	padding: 1rem 0rem 0rem 1rem;
	position:fixed;
    }

    & + div, & + section {
    }

    #text-table-of-contents {
	width: 100%;
	margin: 5em 0em 0em -1.2em;
	ul {
	    
	    li {
		margin: 0.2em 0em 0.2em -1.8em;
		a {
		}
	    }
	}
    }
}

#preamble {
    position: fixed;
    top: 4em;
    left: 0rem;
    right: 0rem;
    background-color: transparent !important;
    z-index: 1000;
    white-space: nowrap;
    
    & p:first-child {
	padding-left: 1em;
    }

    p {
	display: inline;
	color: invert($color_preamble_foreground);
	a {
	    color: invert($color_preamble_foreground);
	    background-color: transparent !important;
	}
    }

    p:after {content: ' - ';}
    p:last-child:after { content: ''}

}

#postamble {
    clear: both;
    border-top: 1px solid $color_border;
    position: fixed;
    left: 0rem;
    right: 0rem;
    bottom: -0.4em;
    height: $height_postamble;
    min-height: $height_postamble;
    background: transparent;
    white-space: nowrap;
    
    & p:first-child {
	padding-left: 1em;
    }
    
    p {	
	display: inline;
	color: $color_postamble_foreground;
	a {
	    color: $color_postamble_foreground;
	    background-color: transparent !important;
	}
    }

    p:after {content: ' - ';}
    p:last-child:after { content: ''}

}
